/* HTML */

body{
    background-color: whitesmoke;
}

/* Navbar */

.navbar{   
    background-color: rgba(230, 225, 225, 0.7);
    font-weight: 500;
    top: 0;
    width: 100%;
    z-index: 2;
    position: fixed;   
}

.nav-info{
    color: black;
    margin-right: 5px;
    margin-bottom: 2px;
}

.nav-info:hover{
    color:lightslategray
}

.nav-register{
    color: black;
    margin-right: 15px;
    cursor: pointer;
}

.nav-register:hover{
    color:lightslategray
}


/* Slideshow */

.carousel-item{
    background-color: black;
    color: white; 
    position: relative;      
}

.carousel{
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 65px; 
}

.sliderImg{
    height: 400px;
    background-size: cover; 
    z-index: -1;
    opacity: 70%;
}

.container{
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 50px;
    padding-bottom: 50px;   
    width: 817px;
    z-index: 1;
}

.sliderGomb{
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    opacity: 82%;
}

/*Menhely infók*/

.menhelyInfok{
    text-align: center;
    margin: auto;   
    margin-top: 30px;
    margin-bottom: 10px;
    width: 80%;
    border-radius: 10px;
}

.tablaInfok{
    border-radius: 10px;
}

.table{
    background-color: rgba(210, 210, 210, 0.7);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.tablaHead{
    background-color:rgba(170, 170, 170, 0.6);
}